certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cloudscraper==1.2.71
curl_cffi==0.15.0
idna==3.18
lxml==6.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
pycparser==3.0
Pygments==2.20.0
pyparsing==3.3.2
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
urllib3==2.7.0
